* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

$black: rgba(31, 4, 4, .85);
$white: #c5c5af;


.Logo {
  position: fixed;
  left: 2rem;
  top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $white;
  
  svg {
    width: 2rem;
  }

  &__text {
    font-size: 1.7rem;
    display: inline-block;
    vertical-align: top;
    margin-top: -0.6rem;
    margin-left: 1.5rem;
    padding-top: .25rem;
  }
}

.Shape {
  width: 40%;
  height: 40%;
  position: absolute;
}

.Controls {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: $black;
  transition: 
    top 0.25s cubic-bezier(0.39, 0.575, 0.565, 1), 
    bottom 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  

  &--top {
    box-shadow: 0 1rem 1.5rem 1.5rem $black;
    padding: 2rem 2rem 0;
    top: 0;
  }

  &--bottom {
    box-shadow: 0 0 1.5rem 3.0rem $black;
    bottom: 0;
    padding: 0 2rem 2rem;
    flex-wrap: nowrap;
  }
}

.Controls--hidden.Controls--top {
  top: -22rem;
}

.Controls--hidden.Controls--bottom {
  bottom: -20rem;
}

.Group {
  display: flex;
  flex-direction: column;  
  width: 20%;
  margin-bottom: 0;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &--animation-speed {
    padding-top: 0.55rem;
    padding-left: 1rem;
    width: 100%;
  }

  &--background-color {
    width: 2rem;
  }
}


.LogoAndClose .Content {
}

.LogoAndClose--hidden {

}

.Github-logo  {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 
    opacity .4s ease-in-out .2s;
  &:hover {
    border: 1px solid $white;
  }
}


.Github-logo--hidden {
  opacity: 0;
  cursor: auto;
  // transition: opacity .5s ease-in-out;
}

.Button-refresh {
  display: flex;
  position: fixed;
  left: 2rem;
  bottom: 1.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 1rem;
  transition: opacity .4s ease-in-out .2s;
  cursor: pointer;

  img {
    height: 2.35rem;
    width: 2.35rem;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $white;
    }
  }
}

.Button-refresh--hidden {
  opacity: 0;
  cursor: auto !important;
}

@media all and (max-width: 1350px) {
  .Controls--top {
    padding-top: 8rem;
  }
  .Controls--bottom .Slider {
    padding-right: 2rem;
  }
  .Github-logo {
    bottom: 0.25rem;
    right: 0;
    position: relative;
  }
  .Button-refresh {
    position: relative;
    left: 0;
    bottom: 6px;
  }
}
